body, html {
  background: #fafafa;
  color: #363636;
  font-size: 30px;
  text-align: center;
}

.card {
  background: #363636;
  color: #fafafa;
  padding: 1em 1em 1.5em;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  
}

button {
  background: #363636;
  margin: 0.2rem 0 0 0;
  flex: 50%;
  font-size: 2em;
}

button:last-child {
  border-left: 0.2rem solid #fafafa;
}
